<ul class="nav nav-tabs">
    <li class="nav-item">
        <a (click)="selectTab('homePage')" class="nav-link " [ngClass]="{'active' : selectedTab === 'homePage'}"
            aria-current="page">Home page</a>
    </li>
    <li class="nav-item">
        <a (click)="selectTab('about')" class="nav-link" [ngClass]="{'active' : selectedTab === 'about'}">About</a>
    </li>
    <li class="nav-item">
        <a (click)="selectTab('settings')" class="nav-link"
            [ngClass]="{'active' : selectedTab === 'settings'}">Settings</a>
    </li>
</ul>